@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("woff2");
  font-display: swap;
  font-weight: 300 900;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik-VariableFont_wght.ttf") format("woff2");
  font-display: swap;
  font-weight: 300 900;
  font-style: normal;
}
