head
	title Project Linkage
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width,initial-scale=1.0')
	- var uncache= Math.ceil(Math.random()*99999999999)

		link(href='../css/app.css?v=' + uncache, rel='stylesheet')
	//script(src='https://code.jquery.com/jquery-3.3.1.min.js')
	//script(src='js/jquery-3.3.1.min.js')
	//script(src='js/raf.js')
	//script(src='js/listener.js')
	//script(src='js/document-ready-min.js') 
