nav.nav--main
	ol.nav__list
		li.nav__item
			a(href="#about") About
		li.nav__item
			a(href="#coin") Coins
		li.nav__item
			a(href="#profile") Profile
		li.nav__item
			a(href="#contact") Contact
		li.nav__item
			a(href="#legal") Legal
		li.nav__item
			a(href="#privacy") Privacy 