nav.nav--main
	ol.nav__list
		li.nav__item.is-current
			a(href="#about") About
		li.nav__item
			a(href="#coin") Coins
		li.nav__item
			a(href="#") Profile
		li.nav__item
			a(href="#") Contact
		li.nav__item
			a(href="#") Legal
		li.nav__item
			a(href="#") Privacy 