// POST ##

.post {
	&__content {
		padding-top: $u*3;
		@extend .page__content;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"header header"
			"time time"
			"tag tag"
			"author author"
			"copy copy"
			"share share"
			"disrupt1 disrupt1"
			"context context"
			"disrupt3 disrupt2"
			"disrupt5 disrupt4"
			;

		@include mq(medium) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas:
				"time header header"
				"tag header header"
				"author copy copy"
				". copy copy"
				"disrupt1 copy copy"
				". copy copy"
				". copy copy"
				"disrupt2 copy copy"
				"share context context"
				"disrupt5 disrupt4 disrupt3"
			;
		}



	//	@include mq(large) {
	//		grid-template-areas:
	//			"time header header"
	//			"tag header header"
	//			"author copy copy"
	//			". copy copy"
	//			"disrupt1 copy copy"
	//			". copy copy"
	//			". copy copy"
	//			"disrupt5 copy copy"
	//			"share context context"
	//			"disrupt4 disrupt3 disrupt2"
	//		;
	//	}


		blockquote {
			margin: 0 $u 1em 0;
			padding: $u;
			font-style: italic;
			font-size: $fs1;
		}


	}
	&__header {
		grid-area: header;
		@include mq(medium) {
			align-self: end;
		}
		h1 {
		}

	}
	&__heading {
		margin-top: 0;
		max-width: $line_width;
		margin-bottom: 0;
	}
	&__kicker {
		display: block;
		margin-bottom: $u;
		font-size: $fs1;
		line-height: inherit;
	}
	&__intro {
	}

	&__context {
		a {
			display: block;
		}
	}
	&__copy {
		grid-area: copy;
		> p:first-of-type {
			font-weight: 600;
		}
		h1, h2, h3, h4, h5, h6, dd, dt, li, small ,figcaption, figure {
		//	max-width: $line_width;

		}
	}

	&__tag {
		grid-area: tag;
		align-self: stretch;
		@include mq(medium) {
			align-self: end;
		}
		background-color: $body-background-color;
		&-list {
			@extend .list--flex;
		}
		@include mq(medium) {
			//position: sticky;
			//top: var(--headerHeight);
			//top: 0;
			//padding-top: $u/2;
			//z-index: z(fixed)-1;

		}
	}
	&__aside-heading {
	}
	&__context {
		grid-area: context;
	}
	&__time {
		grid-area: time;
		align-self: stretch;
		@include mq(medium) {
			align-self: start;
			text-align: right;
		}
	}
	&__author {
		grid-area: author;
		display: flex;
		flex-flow: row wrap;
		&-person {
		}
		&-figure {
			display: grid;
			grid-gap: $u;
			grid-template-columns: 1fr 5fr;
			grid-template-areas:
				'img name'
				;
			@include mq(medium) {
				grid-template-columns: 2fr 1fr;
				grid-template-areas:
					'name img'
					'description description'
					;
			}
			overflow: hidden;
			img {
				grid-area: img;
				object-fit: cover;
				width: 100%;
				height: auto;
			}
		}
		&-name {
			grid-area: name;
			align-self: end;
			margin: 0;
			font-weight: 400;
			line-height: 1.2;
		}
		&-description {
			grid-area: description;
			font-size: $fs-1;
			color: $body-color;
			display: none;
			@include mq(medium) {
				display: block;
			}
		}
	}
}