include include/__include.pug
doctype html
html(lang='en' class='')
	head
		include include/_head.pug
	body(class='page--index')
		include ../svg/svg.html
		.page__outer
			.page__inner
				include include/_page-header.pug  
				main.page-main
					nav.map
						figure#map 
							h1.center map goes here
					article.article
						header.article__header
							.figure.logo
								img(src="../image/logo/project-linkage.svg")
						section#contact.contact
							h2 Contact
						section#legal.legal
							h2 Legal
						section#privacy.privacy
							h2 Privacy
						section#profile.profile
							h2 Profile
						section#coin.coin
							h2 Coin №123
							dl
								dt Travels
									dd 6
								dt Currently held by
									dd Erica
								dt Received from
									dd Anna
								dt Handed over on
									dd 2021-08-31 14:56:17
								dt at Lon:Lat
									dd 55.458:25.873
							+paging('', 'Previous', 'Afterwards')

						section#about.about
							p
								+text-gen(2, "s", true)
							p
								+text-gen(3, "s", true)
							a(href="#coin") Coin
