include include/__include.pug
doctype html
html(lang='en' class='')
	head
		include include/_head.pug
	body(class='page--index')
		include ../svg/svg.html 
		.page__outer
			.page__inner
				include include/_page-header.pug  
				main.page-main
					nav.map
						figure#map
					article.article
						header.article__header
							h1.a11y Project Linkage
							.figure.logo
								a(href="#map") 
									img(src="../image/logo/project-linkage.svg")
						section#contact.contact
							h1 Contact
						section#legal.legal
							h1 Legal Notice
							small
								h2 foo
								h3 foo
								p
									+text-gen(2, "s", true)
								h3 foo
								p
									+text-gen(2, "s", true)
								h2 foo
								h3 foo
								p
									+text-gen(2, "s", true)
								h3 foo
								p
									+text-gen(2, "s", true)
						section#privacy.privacy.legal
							h1 Privacy
							small
								h2 foo
								h3 foo
								p
									+text-gen(2, "s", true)
								h3 foo
								p
									+text-gen(2, "s", true)
								h2 foo
								h3 foo
								p
									+text-gen(2, "s", true)
								h3 foo
								p
									+text-gen(2, "s", true)
						section#profile.profile
							h1 Profile
						section#coin.coin
							h1 Coin №123
							dl
								dt Travels
									dd 6
								dt Currently held by
									dd Erica
								dt Received from
									dd Anna
								dt Handed over on
									dd 2021-08-31 14:56:17
								dt at Lon:Lat
									dd 55.458:25.873
							+paging('', 'Previous', 'Afterwards')

						section#about.about
							p
								+text-gen(2, "s", true)
							p
								+text-gen(3, "s", true)
							a(href="#coin") Coin
