@use "use" as *;

.article {
	@include mq(medium) {
		position: fixed;
		@include inset($u, $u, $u, auto);
		max-block-size: calc(100vh - #{$u * 3});
		inline-size: $line-width;
	}
	padding: $u * 1.5;
	@include mq(medium) {
		padding-block: 0;
	}
	overflow: auto;
	background-color: $egg;
	> section {
		display: none;
		&#about,
		&:target {
			display: block;
			~ #about {
				display: none;
			}
		}
	}
	&__close {
		transition: none;
		position: absolute;
		z-index: z(modal);
		@include inset(calc(#{$phi-major} * 100vh + #{$u * 1.65}), $u/2, auto, auto);
		@include mq(medium) {
			position: fixed;
			top: $u * 2.5;
			right: $u * 3.5;
		}
	}
	&__header {
		position: fixed;
		z-index: z(fixed);
		@include inset(0, 0, auto, auto);
		.logo {
			inline-size: $line-width/2;
		}
		block-size: $u * 5;
		padding: $u;
		background-color: $egg;
		@include mq(medium) {
			position: sticky;
			@include inset(0, auto, 0 auto);
			padding-inline: 0;
			@supports not (padding-inline: 0) {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
}
