// COMPANY ##
.teaser--company {
	--module-background-color: #{$brand--bright};
	background-color: var(--module-background-color);
	padding: $u;
	margin: $u 0;
	&.has-figure {
		.teaser__heading {
			font-size: $fs-2;
			@extend %normal;
		}
	}
	> .teaser__inner {
		dd {
			font-size: $fs-2;
		}
		.teaser {
			&__heading {
				text-transform: none;
			}
		}
	}
	> .teaser__inner .teaser__figure {
		$s: $u * 9;
		max-height: $s;
		//	box-shadow: 0 0 0 $u $white;
		figcaption .copyright {
			display: none;
		}
		img {
			@include transition();
			padding: 0;
			min-height: $s;
			max-width: $s * $sqrt2;
			max-height: $s;
			height: $s;
			object-fit: contain;
			object-position: left center;
		}
	}
}
