/* comments */

#kommentieren:target {
	display: block;
	padding-bottom: 10rem;
}

.comment {
	margin: $u/2 0;
	padding: $u/2 0;
	border-bottom: 2px solid $black;
	counter-increment: comment; /* Erhöht den Abschnittszähler */
	.says {
		@extend .a11y;
	}
	&-content {
		a {
			word-wrap: break-word;
			overflow-wrap: break-word;
			overflow-wrap: anywhere;
		}
	}
	&-list {
		list-style-position: inside;
		counter-reset: comment;
	}
	&-meta {
		margin-bottom: $u/4;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	&-author {
		&:before {
			content: "#" counter(comment) " von "; /* Zeigt den Zähler an */
		}
		.avatar {
			display: none;
		}
	}
	&-respond {
		.reply,
		.edit-link,
		.logged-in-as {
			a {
				@extend .cta;
			}
		}
		.edit-link a {
			font-size: 1em;
		}
		.form-submit .submit {
			@extend .cta;
		}
	}
}
