.cookie-box {
	@include hyphens(none);
}
a._brlbs-btn-cookie-preference.borlabs-cookie-preference {
	@include cta;
	text-decoration: none;
	margin: auto $u * 2;
	padding: 0 0 0 $u;
	background-color: $mediocre-color !important;
	color: $white !important;
	&:hover {
		color: $white !important;
	}
}
