.filter {
	--module-background-color: #{$white};
	user-select: none;
	float: none;
	clear: both;
	.form {
		margin: 0;
		border-bottom: $border-size dotted;
		fieldset {
			background-color: var(--module-background-color);
			padding: 0;
			margin: 0;
		}
		legend {
			margin: 0 0 0 auto;
			background-color: var(--module-background-color);
		}
		label {
			margin: 0;
		}
		button {
			min-width: 0;
		}
		.filter {
			&__inner {
				@extend %flex;
				--flex-gap: #{$u/4};
				padding: $u;
				justify-content: center;
				> * {
					flex-grow: 0;
					flex-shrink: 1;
					flex-basis: percentage(1/7);
				}
			}
			&__proceed {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 $u;
				text-align: end;
				[type="submit"] {
					background-color: $positive-color;
					&:after {
						background-image: url("../image/icon/icon--s.svg");
					}
				}
				[type="reset"] {
					&:after {
						background-image: url("../image/icon/icon--reset.svg");
					}
				}
			}
			&__count {
				@extend %fs-2;
				font-family: $font-family-brand;
				@extend %uppercase;
			}
			&__sort {
				margin-inline-end: auto;
			}
			&__search {
				margin-inline-start: auto;
				flex-grow: 1;
			}
		}
	}
}
