@use "use" as *;
@use "element" as *;

// FORM ########

@mixin form {
	margin: $u 0;
	fieldset {
		background-color: $brand--color;
		margin: $u 0;
		padding: $u;
	}
	legend {
		@extend h5;
		background-color: $brand--color;
		padding: $u $u * 1;
		margin-inline-end: auto;
		margin-inline-start: $u * -1;
	}
	label {
		margin: $u * 2 0;
		@extend h6;
	}
	&__sort {
		margin-inline-end: auto;
	}
	input {
		~ span {
			padding-left: $u;
		}
		&:invalid {
			color: $negative-color;
			~ span {
				color: $negative-color;
			}
		}
		&:disabled {
			color: $muted-color;
			~ span {
				color: $muted-color;
			}
		}
		&:required {
			~ span {
				&:after {
					content: "✷";
					position: relative;
					top: -0.4em;
				}
			}
		}
	}
}

.form {
	@include form;
}

.wpcf7 {
	@include form;
}
