@use "use" as *;

.map {
	max-inline-size: none;
	@include mq(medium) {
		position: fixed;
		z-index: 0;
		inset: 0;
	}
	background-color: $dun;
}

#map {
	min-block-size: $phi-major * 100vh;
	@include mq(medium) {
		min-block-size: 100vh;
	}
}
