@use "use" as *;

.map {
	max-width: none;
	position: fixed;
	z-index: 0;
	inset: 0;
	background-color: $dun;
}

#map {
	min-height: $phi-major * 100vh;
	@include mq(medium) {
		min-height: 100vh;
	}
}
