@use "use" as *;

@mixin nav__item {
	font-family: $font-family-nav;
	a:link,
	a:visited,
	a:focus,
	a:hover,
	a:active {
		color: inherit;
	}
}

@mixin is-current {
	color: $body-color;
}

[class*="nav__list"] {
	@include flex;
	flex-flow: column nowrap;
	> * {
	}
}

[class*="nav__item"] {
	@include nav__item;
}

.nav {
	&--main {
		font-size: $fs3;
		padding: $u * 3 $u * 4 $u $u/2;
		color: $link-color;
	}
}

.is-current {
	@include is-current;
}
