.sib_loader {
	position: fixed;
	z-index: z(modal);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	place-items: center;
	background-color: $fade--dark;
	img {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
}
.sib_signup_form {
	@extend %form;
}
