@use "use" as *;
@use "cta" as *;

// PAGING ###

.paging {
	padding: $u 0;
	&__list {
		@include flex;
	}
	li {
		flex: 1 1 40%;
	}
	a {
		@include cta;
		max-width: none;
		min-width: 0;
		width: 100%;
	}

	.next {
		text-align: end;
	}
}
