@use "use" as *;

// PAGE ##

.page {
	&__outer {
		position: relative;
	}
	&__inner {
		position: relative;
	}
	&-main {
		&:target {
			#about,
			.article__close {
				display: none;
			}
			#map {
				min-block-size: 100vh;
			}
		}
	}
	&-footer {
		position: fixed;
		z-index: z(fixed);
		@include inset(auto, auto, 0, $u);
		margin: auto;
		padding: $u;
		background-color: $white;
	}
}
