@use "use" as *;

@media print {
	//use cm not mm and a lot of for safari

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
		page-break-inside: avoid;
	}
	img {
		page-break-inside: avoid;
		page-break-after: avoid;
	}
	blockquote,
	table,
	pre,
	object,
	video,
	audio,
	embed,
	iframe,
	.responsive-video-container {
		page-break-inside: avoid;
	}
	ul,
	ol,
	dl {
		page-break-inside: avoid;
	}
	p {
		orphans: 3;
		widows: 3;
		max-width: 13cm;
	}

	// theme specifics
	.page__header,
	.membership__promo,
	.membership__promo.no-subscription,
	.page__sidebar,
	.comment-respond,
	.entry__footer,
	.breadcrumb,
	.page__footer-nav,
	#cookie-notice,
	.cleanslate {
		display: none !important;
	}
	.page__outer,
	.page__inner {
		padding: 0;
		margin: 0;
	}
	html,
	body,
	body a,
	.entry__content a {
		font-size: 9pt !important;
		line-height: 12pt !important;
	}
	body {
		margin: 0;
		padding: 0;
		background: white none;
		color: black;
		text-shadow: none;
		-webkit-font-smoothing: none;
	}
	hr {
		display: block;
		width: 100%;
		margin: 0.5cm auto;
		border-bottom: 1px solid black;
		.entry-content & {
			&:after {
				background: none;
			}
		}
	}
	* {
		transition: none;
		color: black !important;
	}
	cite,
	small,
	.small {
		font-size: 6pt !important;
	}
	h1 {
		font-size: 14pt;
	}
	h2 {
		font-size: 12pt;
	}
	h3 {
		font-size: 10pt;
	}
	h4,
	h5,
	h6 {
		font-size: 9pt;
		font-weight: bold;
	}
	.entry__header {
		width: 100%;
		margin-left: 0;
	}
	blockquote,
	.blockquote {
		border-top: none;
		border-right: none;
		border-left: 0.05cm solid black;
		border-bottom: none;
		box-shadow: none !important;
		margin-left: 0.4cm !important;
		padding: 0 0 0 0.4cm !important;
		page-break-inside: avoid;
	}
	body a,
	body a:link {
		font-size: inherit !important;
		line-height: inherit !important;
		border-bottom: none;
	}
}
@page {
	size: auto; /* auto is the initial value */
	/* this affects the margin in the printer settings */
	margin: 20mm 30mm 30mm 40mm;
}
