//* TEASER */
%meta {
	margin: 0;
	@extend %fs-2;
	font-family: $font-family-brand;
	@extend %bold;
	@extend %uppercase;
	line-height: 1;
	color: $brand--dark;
}

.teaser {
	//	&--company {
	//		&:hover {
	//			> .teaser__inner {
	//				.teaser__figure {
	//					img {
	//						padding: $u;
	//					}
	//				}
	//			}
	//		}
	//	}

	&__inner[href] {
		.teaser {
			&__heading {
				color: $brand--dark;
			}
		}
		&:hover {
			.teaser {
				&__heading {
					color: $link-color;
				}
			}
		}
	}
}

.teaser,
[class*="teaser--"] {
	--module-background-color: #{$brand--bright};
	background-color: var(--module-background-color);
	max-width: $box-width;
	margin: $u * 2;
	dl {
		@extend %definition;
	}
	ul,
	ol {
		margin: 0;
		li {
			&::before {
				display: none;
			}
		}
	}
	.wp-block-column & {
		max-width: $line-width;
	}
	@extend %grid;
	--grid-gap: #{$u};
	padding: $u;
	grid-template-areas:
		"inner"
		"tag";
	grid-template-rows: auto 1fr;
}

.teaser {
	&__inner {
		grid-area: inner;
		@extend %grid;
		overflow: hidden;
		align-content: start;
		--grid-gap: 0 #{$u};
		> *:not(:last-child) {
			margin-bottom: $u;
		}
		padding: 0;
		grid-template-areas:
			"figure figure"
			"location location"
			"kicker kicker"
			"heading heading"
			"time author"
			"excerpt excerpt";
		grid-template-columns: 1fr 3fr;
		grid-template-rows: repeat(6, auto);
	}
	--module-background-color: #{$brand--light};
	overflow: hidden;
	&__figure {
		grid-area: figure;
		//		@include transition;
		//		transition-property: clip-path;
		//	clip-path: inset(0);
		width: 100%;
		padding: 0;
		margin: 0;
		--module-background-color: #{$transparent-white};
		line-height: 0;
		&:only-child {
			margin-block-end: $u/-2;
		}
		figcaption {
			line-height: $line-height;
		}
		img {
			object-fit: contain;
			object-position: left top;
			max-height: $u * 29;
			.article__aside & {
				max-height: none;
			}
			padding: 0;
			margin: 0;
			//		object-position: center (100% * $phi-minor);
			width: 100%;
			height: 100% - (100% * $sqrt2);
			@include transition;
			transition-property: transform filter;
			line-height: 3; //style the alt
			text-align: center; //style the alt
			filter: saturate(1);
		}
	}
	&__download {
		@include cta;
		@extend %fs-2;
		justify-self: start;
		&.teaser__download.teaser__download[href$="pdf"]:after {
			background-image: url("../image/icon/icon--pdf.svg");
		}
	}
	&__time {
		grid-area: time;
		@extend %meta;
	}
	&__author {
		grid-area: author;
		@extend %meta;
		color: $body-color;
		text-align: end;
	}
	&__location {
		grid-area: location;
		@extend %meta;
	}
	&__kicker {
		grid-area: kicker;
		@extend h6;
		margin: 0;
		color: $body-color;
		@include transition();
	}
	&__heading {
		grid-area: heading;
		@extend h4;
		margin: 0;
		color: $body-color;
		@include transition();
	}
	&__excerpt {
		grid-area: excerpt;
		color: $body-color;
		@extend %fs-1;
	}
	&__tag {
		grid-area: tag;
		&.teaser__tag {
			@extend %list--reset;
			@extend %list--flex;
			padding-block-start: $u;
		}
	}
}

[class*="teaser--"] {
	[class*="teaser-block"] & {
		margin: 0;
	}
}
