@use "use" as *;

$steps: 6;

// TEXT ##
.text {
}

@mixin text-column {
	column-gap: $u * 2;
	column-fill: balance;
	column-width: $line-width/3;
	//	column-rule: 1px dashed $body-color;
}

[class*="text-column"] {
	@include text-column;
}

@for $n from 1 through $steps {
	.text-column#{$n} {
		@include text-column;
	}
}

@include mq(medium) {
	@for $n from 1 through $steps {
		.text-column--#{$n} {
			column-count: #{$n};
		}
	}
}
