.widget {
	--module-background-color: #{$brand--light};
	background-color: var(--module-background-color);
	padding: $u;
	max-width: 100%;
	.tagcloud {
		font-family: $font-family-brand;
		@extend %flex;
		--flex-gap: 0;
		flex-flow: row wrap;
		align-items: baseline;
		justify-content: space-between;
		overflow: hidden;
		background-color: $link-color;
		padding: $u;
		a {
			@extend %uppercase;
			color: $brand--bright;
			max-width: 100%;
			padding: $u/16 $u/4;
			@include ellipsis;
			&:hover {
				background-color: $link-color-hover;
			}
		}
	}
}
