{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
 <div class="container"></div>
  <h1>Handover {{handover.id}}</h1>
  {%if editable == False%}
  	<div class="col-sm-3">
  		<div class="row">
  			<h3> <a href="/handover/{{handover.id}}/{{handover.access_hash}}">Edit</a></h3>
  		</div>
  		<div class="row bg-primary text-white">
  			<h3> Date: {{handover.date.strftime('%d.%m.%Y %H:%M')}}</h3>
  		</div>
  		<div class="row">
  			<h3> Location: <a href="https://maps.google.com/?q={{handover.lat}},{{handover.lon}}">{{handover.lat|round(2)}}..., {{handover.lon|round(2)}}...</a></h3>
  		</div>
  		<div class="row bg-primary text-white">
  			<h3>User: {{username}}</h3>
  		</div>
  		<div class="row">
  			<h3>Email: {{email}}</h3>
  		</div>
  		<div class="row bg-primary text-white">
  			<h3>Handover Text:</h3>
  		</div>
  		<div>
  			<p>{{text.text}}</p>
  		</div>
  	</div>
  	{%else%}
  	<div class="col-md-4">
        {{ wtf.quick_form(form) }}
     </div>
     {%endif%}

</div>
    	
{% endblock %}